// Delimitando colores y otras variables
$color-primary: #7a7391;
$color-primary-dark: #4a5b8c;
$color-secondary: #f2c6c2;
$color-secondary-light: #ddcef2;

$color-yellow: #fdf5b7;
$color-red-light: #f2c6c2;

$color-border: #625c75;
