/* selectores */
/* por etiqueta */
/* h1 {
    color: white;

}*/
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sniglet:wght@400;800&display=swap');

/* Esta es la sección de main */

.encabezado{
    background-color: #7A7391;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px 30px 130px;
    align-items: center;
}
.encabezadoMikatsuki{
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.encabezadoMenu ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 50px;
    
}
.colorEnlace{
    color: #FDF5B7;
    text-decoration: none;
}

.encabezadoMenu a:hover{
    color: #F2C6C2;
    text-decoration: underline;
}

.encabezadoMenu li{

    margin-left: 20px;
    
}

.imgQuienSoy{

    display: flex;
    flex-direction: row-reverse;
    padding-right: 100px


}

.fondoMenu{
    background-color: #7A7391;
}


/* footer */

.footerRedes{

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}

.footerMain h5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0%;
}



/*--------------------------------------------------------------------------------------------------------------*/
/* esta es la sección de servicios */
.apartadoDoblaje{
    display:flex;
    flex-direction: row;
}

.apartadoDoblaje h2{
    padding: 0px 20px;
    margin-block-start: 10px;
}
/*------------------------------------------------------------------------------------------------------------*/
/* esta es la seccion de merch*/

.cardsWidth{
    width: 18rem;
}



/*------------------------------------------------------------------------------------------------------------*/
/* esta es la seccion de contacto*/
.colorBotonForm{
    background-color: #7A7391;
    color: white;
}



/*------------------------------------------------------------------------------------------------------------*/
/* configuracion media */

@media(max-width:768px){
    .encabezado{
        flex-direction: column;
    }
    
    .encabezadoMenu ul{
        flex-direction: column;
    }
}
